* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
}

.search-bar {
    background: red;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.filter-genre  {
   margin-left: 50px;
    padding: 10px;
}

.search  {
    margin-left: 2%;
    padding: 10px;
    padding-right: 50px;
}

.sort-btn  {
    margin-left: 2%;
    padding: 10px;
}

.container {
background-color: beige;
display: flex;
flex-wrap: wrap ;
padding: 100px 100px 100px 100px;
}

.card {
    min-height: 250px;
    width: 200px;
    vertical-align: text-top;
    background: rgb(236, 111, 111);
    border-radius: 16px;
    border: 2px solid rgb(222, 157, 157);
    margin: 10px;
    padding: 10px;
  }
  .card img {
    width: 100%;
    margin: 12px 0;
  }

  .card button {
    align-items: center;
  }

  .card .title {
    text-align: center;
    
  }

  .bar-year {
    align-items: center;
    justify-content: center;
    padding: 15px 0px 15px 15px;
  }

 